.articles-index {
  grid-column: 1 / 4;
  margin: auto;
}

.articles {
  display: grid;
  grid-row: 2;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
}

.err_msg {
  color: crimson;
}
